@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ingrid Darling');



:root{
    --primary-color: #262626;
    --secondary-color: #D39B59;
	  --secondary-dark-color: #0a021c;
    --background-color: #F5F8F9;


    --white-color: #ffffff;
	  --border-color: #e5e8ec;
	  --dark-color: #000000;
    --hover-color: #66AA4F;
    --font-small: 13px;
	  --font-smaller: 11px;

	  --percent100: 100%;
	  --percent50: 50%;
}

*{
    margin: 0;
    padding: 0;
}
body{
	font-family: 'Rubik', sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.4;
	/* background-color: var(--primary-color); */
  overflow-x: hidden;
}




/********* Footer CSS **********/
.botnav {
  float: flex;
	overflow: hidden;
	background-color: WHITE;
  height: 429px;
  
	

  }
.footer_text{
  color:grey
}
  
  .botnav a  {
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 20px;
  }
  .botnav svg{
    float:left;
  display: inline;  }
  
  .botnav a:hover {
  color:rgba(85, 85, 87, 0.438);
  }
  .botnav_content {
    display: flex;
    justify-content:center; /* Adjust as needed */
    align-items: center; /* Adjust as needed */
    margin-top: 46px;
    
}
  .botnav_menu{
    display: flex;
    justify-content:center; /* Adjust as needed */
    align-items: center; /* Adjust as needed */
    margin-top: 46px;
  }

  
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  img {
    max-width: 100%;
  }
  .carousel-container {
    width: 80%;
    margin: 40px auto;
    position: relative;
  }
  .footer_social{
    display: flex;
    justify-content:center; /* Adjust as needed */
    align-items: center; /* Adjust as needed */
    color: #ADB8C2;
    margin-top: 46px;
  }
  .footer_social a{
    color: #ADB8C2;
  }

/********* Footer end **********/






@media screen and (min-width: 992px){
	.container{
		padding: 0 2em;
	}

}
.topnav {
  float: flex;
	overflow: hidden;
	background-color: WHITE;
  height:90px;
	
  }
  .topnav_1{
    float: flex;
    overflow: hidden;
    background-color: WHITE;
    height:90px;
    
    }
  
  .topnav a  {
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 20px;
  }
  .topnav_1 a  {
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;

    }
  .topnav svg{
    float:left;
  display: inline;  }
  
  .topnav a:hover {
  color:lightblue;
  }
  .topnav_content {
    display: flex;
    justify-content:center; /* Adjust as needed */
    align-items: center; /* Adjust as needed */
    
}

.header_cover {
  background-image: url(https://res.cloudinary.com/dz72ifxnw/image/upload/v1694340357/3_z659xz.jpg);
  height: 400px;
  background-size: cover;
  background-position: center 25%;
}

  
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  img {
    max-width: 100%;
  }
  .carousel-container {
    width: 80%;
    margin: 40px auto;
    position: relative;

  }




  
/********* Index CSS **********/
  @media (max-width: 800px) {
    .carousel-container {
      justify-content: center;
      width: 85%;
    }
    .topnav_content{
      margin-left: 0%;
      position: static;
    }
  }
  .inner-carousel {
    width: 100%;
    overflow: hidden;
    margin-top: 95px;
  }
  .track {
    display: inline-flex;
    height: 100%;
    transition: transform 0.2s ease-in-out;
  }
  .card-container {
    width: 475px;
    height: 570px;
    flex-shrink: 0;
    padding-right: 20px;
  }
 
  .card {
    width: 95%;
    height: 95%;
    /*display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;*/
    background-position: center bottom;
    background-size: center;
    background-repeat: no-repeat;
    border-radius: 20px;
  }
  
  .nav button {
    position: absolute;
    top: 50%;
    transform: translatey(-50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    outline: none;
    border: 1px solid var(--dark-color);
    cursor: pointer;
  }
  .nav .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 0%;
    color: black;
    font-weight: bold;
    font-size: 30px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  .nav .prev.show {
    display: block;
  }
  .nav .prev{
    left: -40px;
  }
  .nav .next {
    right: -40px;
  }
  .nav .next.hide {
    display: none;
  }
  .order-button{
    width:170px; height:60px; border-radius: 10px;
    background-color: var(--secondary-color);
    color:var(--white-color);
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    padding: 15px 2px;
   }
   
   .order-button:hover{
    background-color: #D39B90;
    color: var(--dark-color);
   }




   
  /********* barbers css **********/
  .five-pointed-star {
    --star-color:orange;
    margin:1em auto;
    font-size: 10px;
    position: relative;
    display: block;
    width: 0px;
    height: 0px;
    border-right: 1em solid transparent;
    border-bottom: 0.7em solid var(--star-color);
    border-left: 1em solid transparent;
    transform: rotate(35deg);
   }
   .five-pointed-star:before {
    border-bottom: 0.8em solid var(--star-color);
    border-left: 0.3em solid transparent;
    border-right: 0.3em solid transparent;
    position: absolute;
    height: 0;
    width: 0;
    top: -0.45em;
    left: -0.65em;
    display: block;
    content:"";
    transform: rotate(-35deg);
   }
   .five-pointed-star:after {
    position: absolute;
    display: block;
    top: 0.03em;
    left: -1.05em;
    width: 0;
    height: 0;
    border-right: 1em solid transparent;
    border-bottom: 0.7em solid var(--star-color);
    border-left: 1em solid transparent;
    transform: rotate(-70deg);
    content:"";
   }
   .barbers-cards{

    width:400px; 
    height:400px; 
    border-radius: 10px; 
    background-color:var(--white-color);
    margin:20px 10px 10px 20px; 
   }
   .barbers-cards-container{
    padding: 20px 20px 20px 20px;
   }

   .layout_header{
    grid-area:header;
   }
   .layout_main{
    height: 100vh;
   }
   .barbers-card-list{
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
   }
   #query{
    box-sizing: border-box;
			display: inline-block;
			height: 35px;
			border: 4px solid currentColor;
			padding: calc(var(--size-bezel) * 1.5) var(--size-bezel);
			color: var(--secondary-color);
			background: var(--white-color);
			border-radius: 5px;
   }
   .buttonSearch{
    color: #FFFFFF;
    padding: 10px 25px;
    background-color: #D39B59;
    background-image: radial-gradient(93% 87% at 87% 89%, rgba(0, 0, 0, 0.23) 0%, transparent 86.18%), radial-gradient(66% 66% at 26% 20%, rgba(255, 255, 255, 0.55) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%);
    box-shadow: inset -3px -3px 9px rgba(255, 255, 255, 0.25), inset 0px 3px 9px rgba(255, 255, 255, 0.3), inset 0px 1px 1px rgba(255, 255, 255, 0.6), inset 0px -8px 36px rgba(0, 0, 0, 0.3), inset 0px 1px 5px rgba(255, 255, 255, 0.6), 2px 19px 31px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    font-weight: bold;
    font-size: 13px;
    border: 0;
    touch-action: manipulation;
    cursor: pointer;
   }
    
/********* barbers end **********/








/********* Services/ChooseService css **********/
body{
  background-color: var(--background-color);

}

.MainBody{
  margin-top: 5%;
  margin-bottom: 5%;
  padding-left: 20%;
  padding-right: 20%;
  justify-content: center; 
  align-items: center; 
  margin-bottom: 5%; 
}

.ServiceList{
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 50px;
}


.OneService {
  text-align: center; 
  width: 150px;
  height: 200px;
  background-color: var(--white-color);
  margin-top: 30px;
  margin-left: 15px;
  margin-right: 15px;
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5);
}

.OneService img {
  display: block; 
  margin: auto;
  width: 70px;
  height: 78px;
  margin-top: 10px;
  justify-content: center;
  max-width: 100%;
}

.OneServiceItem{
  display: block;
  justify-content: center;
  text-align:center;
}
.Choose:hover{
  background-color: var(--hover-color);
}
.OneService p {
  font-size: 15px; 
  color: var(--dark-color); 
  margin-top: 20px;
  margin-bottom: 10px; 
  padding-bottom: 0px;
  text-align: center;
  justify-content: center;
  font-family: "Ingrid Darling", sans-serif;
  font-family: 'Italiana', serif;
}

.OneService button {
  color: var(--dark-color); 
  border: none; 
  background-color: #D9D9D9;
  padding: 5px 10px; 
  margin-bottom: 5%; 
  padding-bottom: 5%;
  cursor: pointer; 
  border-radius: 10px;
}
.ServiceTitle{
  font-family: "Ingrid Darling", sans-serif;
  text-align: center;
  font-size: larger;
  font-family: 'Italiana', serif;
  font-size: 30px;
}
/*use transition*/
img{
  transition: transform 2s;
}
img:hover{
  transform: rotate(360deg);
}
/********* Services/ChooseService end **********/


/********* Services/ChooseDate css **********/
.ChooseDateContainer{
  background-color: var(--background-color);
}


.backButton{
  display: flex;
  justify-content: center; 
  align-items: center;
  margin-top: 2%;
  font-style: italic;
  color: var(--dark-color);
}
.ChooseDateBody{
  margin-top: 5%;
  padding-left: 20%;
  padding-right: 20%;
  justify-content: center; 
  align-items: center; 
  margin-bottom: 5%;
}

.box-list{
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 50px;
}

.day-box{
  text-align: center; 
  width: 160px;
  height: 90px;
  background-color: #D9D9D9;
  margin-top: 30px;
  margin-left: 15px;
  margin-right: 15px;
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5);
  font-family: 'Italiana', serif;
}

.day-box:hover{
  background-color: var(--hover-color);
}
.day{
  font-size: 40px;
}
.ChooseTime{
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.time-box{
  padding: 2px;
}
.time-box button:hover{
  background-color: var(--hover-color);
}

.time-box button{
  background-color: #D9D9D9;
  border: none;
  font-family: 'Italiana', serif;
}

.ChooseMonth{
  display: flex;
  justify-content: center;
}

.Month{
  font-family: 'Italiana', serif;
  font-size: 40px;
}

.selected {
  background-color: var(--hover-color);
}
.ChooseDateButton{
  text-decoration: none;
  margin-top: 80px;
  justify-content: center;
  align-items: center;
  display: flex;
}
.ChooseDateButton button{
  font-family: 'Italiana', serif;
  width: 80px;
  height: 20px;
  border: none;
  cursor: pointer; 
  border-radius: 10px;
}
.ChooseDateButton button:hover{
  background-color:var(--hover-color);
}
/********* Services/ChooseDate end **********/



/********* Services/Order css **********/
.OrderBody{
  margin-top: 5%;
  margin-right: 20%;
  margin-left: 20%;
  background-color: var(--white-color);
  margin-bottom: 5%;

}
.OrderInformation{
  display: flex;
  flex-direction: row;
}
.info{
  margin: 5% 5% 5% 5%;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.choice{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  flex-direction: column;
  margin-left: 10%;
  margin-right: 10%;
}
.choice p.ChoiceTitle {
  display: inline;
  font-weight: bold;
  margin: 0;
}
#id #month #time #service{
  font-family: 'Italiana', serif;
}

.monthday{
  display: flex;
  flex-direction: row;
}

hr{
  width: 100%;
  height: 2px;
  background-color: var(--dark-color);
  margin-top: 50px;
}
.choice p{
  font-size: larger;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 20px;
  font-family: 'Italiana', serif;
}

.NamePhoneOrder{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Italiana', serif;
  padding-bottom: 30px;
  margin-left: 25%;
  margin-right: 20%;
}

.form{
  
  margin-right: 10%;
  border-radius: 10px;
}

.button{
  width: 17em;
  height: 2em;
}

.form button{
  font-family: 'Italiana', serif;
  width: 8em;
  height: 2em;
  border: none;
  cursor: pointer; 
  border-radius: 10px;
}
.form button:hover{
  background-color: var(--hover-color);
}

/********* Services/Order end **********/








/********* aboutUs css **********/

.AboutContainer{
  padding: 0;
  background-color: var(--background-color);
  margin-left: 15%;
  margin-right: 15%;
}


.introduction h1{
  justify-content: center;
  align-items: center;
  display: flex;
  margin-left: 500px;
  margin-top: 50px;
  font-style: inria serif;

}
.introduction img{
  width: 50%;
  height: 40%;
  justify-content: center;
  align-items: center;
  display: flex;

}

.introduction p{
  justify-content: center;
  align-items: center;
  display: flex;
  margin-left: 80px;
}
.IntoductionBody{
  margin-top: 20px;
  display: flex;
}

.Team{
  margin-top: 60px;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
  
}

.Team p{
  font-size: 35px;
  font-style: inter;
  justify-content: center;
  align-items: center;
  display: flex;
}

.barber{
  width: 200px;
  height: 100px;
  background-color: var(--white-color);
  margin: 30px 30px 30px 30px;
}
.barber p{
  font-size: 5px;
}
.Barbers{
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
}

.position{
  align-items: center;
  justify-content: center;
  font-size: 10px;
  font-family: 'Italiana', serif;
  margin-top: 10px;
}

.name{
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-family: 'Italiana', serif;
  margin-top: 5px;
  font-weight: bold;
}

.intro{
  align-items: center;
  justify-content: center;
  font-size: 8px;
  font-family: 'Italiana', serif;
  margin-top: 10px;
}


.BarberImage{
  margin-top: -30px;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-left: 40%;
  margin-right: 40%;
}


/********* aboutUs end **********/


/********* Services/ChooseBarber css **********/
.backButton{
  margin-top: 15px;
}
.backButton a{
  font-family: 'Italiana', serif;
  text-decoration: none;
}
.ChooseBarberBody{
  margin-top: 5%;
  padding-left: 10%;
  padding-right: 10%;
  justify-content: center; 
  align-items: center; 
  margin-bottom: 5%;
}

.Barber{
  width: 350px;
  height: 150px;
  background-color: var(--white-color);
  margin: 30px 30px 30px 30px;
  display: flex;
}

.ChooseBarbers{
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap:wrap-reverse;
  margin-top: 40px;
}

.ChooseBarberTitle{
  font-size: 35px;
  justify-content: center;
  align-items: center;
  display: flex;
  font-family: 'Italiana', serif;
}

.barberImage{
  height: 150px;
}

.NameButton{
  align-items: center;
  justify-content: center;
  margin-left: 20%;
  margin-top: 0px;
  display: flex;
  flex-direction: column; 
  text-align: center; 
}

.Barber button{
  font-family: 'Italiana', serif;
  margin-top: 20%;
  width: 80px;
  height: 20px;
  border: none;
  cursor: pointer; 
  border-radius: 10px;
}

.Barber button:hover{
  background-color: var(--hover-color);
}
.BarberName{
  font-family: 'Italiana', serif;
  font-weight: bold;
  font-size: 18px;
}

/********* Services/ChooseBarber end **********/



/********* Services/Thanks css **********/

.ThanksText{
  justify-content: center;
  align-items: center;
  font-family: 'Italiana', serif;
}

.ThanksContainer{
  height: 500px;
  margin-top: 50px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 50px;
  margin-left: 20%;
  margin-right: 20%;
}
.ThanksText h1 p{
  font-family: 'Italiana', serif;

}
.ThanksText h1{
  font-size: 40px;
}
.ThanksText p{
  margin-top: 50px;
  font-size: 20px;
}

.End button{
  margin-top: 70px;
  width: 8em;
  height: 2em;
  border: none;
  cursor: pointer; 
  border-radius: 10px;
}
.End button:hover{
  background-color: var(--hover-color);
}
/********* Services/Thanks end **********/
